body {
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    padding: 10px 5px 20px 20px;
    text-align: center;
}

.loginbox {
	position: absolute;
	top: 280px;
    right: 450px;
    width: 300px;
    border: 3px solid white;
    padding: 10px;
    background-color:lightblue;
}

.guest {
	position: absolute;
	top: 370px;
    right: 450px;
    width: 300px;
}